---
const { selected } = Astro.props;
import { ShoppingCartIcon } from '@heroicons/react/24/outline';
---

<nav class='bg-dark-900 shadow-lg sticky top-[-1px] z-50 flex-col'>
  <div class='flex items-center justify-center'>
    <a href='/' class='flex items-center py-2 group'>
      <img src='/logo.png' alt='GZ Tech' class='h-16 md:h-18 w-auto' />
      <span
        class='ml-4 text-2xl md:text-3xl font-orbitron font-semibold bg-gradient-to-r from-turquoise-400 to-green-modern-400 bg-clip-text text-transparent group-hover:from-turquoise-300 group-hover:to-green-modern-300 transition-all duration-300 leading-none'
      >
        TechStore
      </span>
    </a>
  </div>
  <div class='flex items-center space-x-4 justify-around pb-1 bg-dark-600'>
    <a
      href='/'
      class=`${selected === 'products' && ('text-turquoise-400 px-3 py-2 text-sm font-medium border-b-2 border-turquoise-400') || 'text-gray-300 hover:text-turquoise-400 px-3 py-2 text-sm font-medium transition-colors'}`
      >Productos</a
    >
    <a
      href='/carrito'
      class={`${
        selected === 'cart'
          ? 'text-turquoise-400 px-3 py-2 text-sm font-medium border-b-2 border-turquoise-400'
          : 'text-gray-300 hover:text-turquoise-400 px-3 py-2 text-sm font-medium transition-colors'
      } relative flex items-center gap-1`}
    >
      <ShoppingCartIcon className='h-7 w-7' />
      <span
        id='cart-badge'
        class='absolute -top-1 -right-1 bg-turquoise-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center'
      >
        0
      </span>
    </a>
  </div>
</nav>
